.app {
  background-color: #f2f2f2;
  padding: 10px;
}

@media (min-width: 701px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .cards {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .cards {
    width: 84%;
  }
}

@media (min-width: 1441px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.app .header {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  max-width: 1440px;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
}

.app .footer {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.app .developer {
  font-weight: normal;
  display: block;
}

@media (min-width: 701px) {
  .app .developer {
    display: inline;
  }
}